# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
RECURSOS
RECURSOS/*
web V2_Carpeta.zip
final_vierge.mp4
