.row { 
	max-width: 100% !important;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial !important;
}

.l-main {
	max-width: 1100px !important;
	margin: 0 auto !important;
}

.mt-1 {
	margin-top: 1rem !important;
}

.mt-2 {
	margin-top: 2rem !important;
}

.mt-3 {
	margin-top: 3rem !important;
}

.mt-4 {
	margin-top: 4rem !important;
}

.mt-5 {
	margin-top: 5rem !important;
}

.mb-1 {
	margin-bottom: 1rem !important;
}

.mb-2 {
	margin-bottom: 2rem !important;
}

.mb-3 {
	margin-bottom: 3rem !important;
}

.mb-4 {
	margin-bottom: 4rem !important;
}

.mb-5 {
	margin-bottom: 5rem !important;
}




.pt-1 {
	padding-top: 1rem !important;
}

.pt-2 {
	padding-top: 2rem !important;
}

.pt-3 {
	padding-top: 3rem !important;
}

.pt-4 {
	padding-top: 4rem !important;
}

.pt-5 {
	padding-top: 5rem !important;
}

.pb-1 {
	padding-bottom: 1rem !important;
}

.pb-2 {
	padding-bottom: 2rem !important;
}

.pb-3 {
	padding-bottom: 3rem !important;
}

.pb-4 {
	padding-bottom: 4rem !important;
}

.pb-5 {
	padding-bottom: 5rem !important;
}




header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	// background: rgba(0,0,0,0.3);
	padding: 1.5em;
	margin: 0 auto;
	// border-bottom: solid 2px rgba(0,0,0,0.5);
	transition: all ease-in-out 0.3s;
}

.scrollHeader {
	background: $primary-color;
	padding: 0.5em 1.5em;
	.logo {
		transition: all ease-in-out 0.3s;
		width: 160px;
	}
	.menu-principal {
		ul {
			margin-top: 0 !important;
			li.sfHover {
				ul {
					top: 4em !important;
				}
			}
		}
	}

}

.menu-principal {
	float: right;
	ul {
		float: right;
		margin-top: 1em !important;
		li {
			position: static !important;
			a {
				color: #FFF;
				padding: 1em;
				&:hover {
					color: $green;
				}
			}
			a.sf-depth-1 {
				text-transform: uppercase;
			}
			a.active {
				color: #77B652;
			}
			a.menuparent {
				padding-right: 24px;
			}
			ul {
				li.sf-megamenu-wrapper {
					background: rgba(0,0,0,0.85);
				}
				li {
					.sf-megamenu-column {
						// padding: 0 1em;
						.menuparent {
							padding: 1em;
							border-bottom: solid 1px #575B5E;
							text-transform: uppercase;
							margin: 0 1em;
    					padding: 1em 0;
    					// font-weight: 600;
    					color: $green;
						}
						a {
							font-size: 1em;
					    padding: 0.5em 0;
					    margin: 0 1em;
					    color: $white;
					    &:hover {
					    	color: $green;
					    }
						}
					}
				}
			}
		}
		li.sfHover {
			ul {
				color: $white;
			    position: fixed;
			    top: 7.5em !important;
			    // right: 10%;
			    left: auto;
			    float: right;
				
			}
		}
		li#menu-550-1.sfHover {
			ul {
				right: 10% !important;
			}
		}
	}
}

.block-title {
    margin: 1em 0;
    // font-weight: bold;
    color: $green;
    // background: url(../img/dots.png) no-repeat right center;
    // display: table;
    // left: 0;
    // right: 0;
    position: relative;
    text-align: left;
    // width: auto;
    // padding-right: 100px;
    // background-size: 83px;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 2.5rem;
}

.titulo-seccion {
	font-size: 2.4rem;
	line-height: 1.2em;
	margin: 4rem 0 3rem;
	padding-left: 30px;
	color: $green !important;
	letter-spacing: -1px;
	background: url("../img/dots-v.png") no-repeat 10px bottom;
	background-size: 9px;
	strong {
		color: #565658 !important;
	}
}

.slideshow-principal {
	.owl-item {
		position: relative;
    .views-field-field-image {
    	position: relative;
    	img {
    		width: 100%;
    	}
    	&:after {
    		position: absolute;
    		top: 0;
    		left: 0;
    		width: 100%;
    		height: 100%;
    		background: rgba(0,0,0,0.5);
    		content: "";
    	}
    }
		.info-slide {
			position: absolute;
	    bottom: 26vh;
	    left: 6vw;
	    color: #FFF;
	    // width: 36vw;
	    width: 100%;
	    max-width: 1150px;
	    font-size: 1.6em;
	    text-shadow: 0 0 24px #000;
	    .views-field-body {
	    	margin-bottom: 1em;
	    	p {
	    		font-size: 1em;
					font-weight: 300;
					line-height: 1.8em;
					margin-bottom: 0;
					strong {
						font-size: 3.3vw;
    				font-weight: 600;
					}
	    	}
	    	h1 {
	    		color: $white;
	    		text-transform: uppercase;
	    		margin: 0;
	    		line-height: 1em;
	    		font-size: 3.6vw;
	    	}
	    }
		}
	}
}

.cta {
	a {
		position: relative;
		color: #FFF;
    display: inline-block;
    margin-top: 1em;
    font-size: 1.2rem;
    transition: all ease-in-out 0.1s;
    // padding: 0.5em 0 1em 3em;
    padding: 0.7em 2em;
    background: $green;
    text-transform: uppercase;
   //  &:before {
			// position: absolute;
			// top: 0;
			// left: 0;
			// content: "...";
			// width: 35px;
			// text-align: center;
			// height: 35px;
			// border-radius: 19px;
			// border: solid 2px #FFF;
			// font-size: 1.8rem;
			// color: $green;
			// font-weight: 600;
			// padding-bottom: 18px;
			// display: inline-block;
			// letter-spacing: 1px;
   //  }
   //  &:hover {
   //  	&:before {
   //  		background: #FFF;
   //  	}
   //  }
	}
}

.cta-dark {
	a {
		color: $primary-color !important;
		font-weight: 600;
		&:before {
			border-color: $green;
		}
		&:hover {
			&:before {
				background: $green;
				color: $white;
			}
		}
	}
}

.cta-green {
	a {
		color: $green !important;
		font-weight: 600;
		&:before {
			border-color: $green;
		}
		&:hover {
			&:before {
				background: $green;
				color: $white;
			}
		}
	}
}

.fondo-gris {
	background: #ECEDEF;
	padding: 4em 0 0;
}

.enlace-destacado {
	color: #77B652;
	font-weight: bold;
	a {
		text-transform: uppercase;
    color: #77B652;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
	}
}

.border-green {
	padding-bottom: 1rem !important;
	border-bottom: solid 1px $green;
	margin-bottom: 4rem !important;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,0.8);
	padding: 5vw;
	z-index: 500;
	display: none;
	iframe {
		height: 75vh;
	}
	.close-button-popup {
		position: absolute;
		top: 2vw;
		right: 2vw;
		font-size: 3em;
		color: #FFF;
		font-weight: 300;
		cursor: pointer;
	}
}

#colorbox {
	width: 100%;
}

.front {
	.soluciones-productos-home {
		max-width: 90% !important;
	}	
}

.soluciones-productos-home {
	max-width: 1200px !important;
	// max-width: 90% !important;
	margin: 0 auto 4em !important;
	.owl-item {
		transition: all ease-in-out 0.3s;
		padding: 0 1em;
		.views-field-field-image {
			position: relative;
			margin-bottom: 2rem;
			img {
				width: 100%;
			}
		}
		.views-field-title {
			font-weight: 600;
			color: $green;
			font-size: 1.6rem;
			margin-bottom: 1rem;
		}
		.views-field-body {
			margin: 1em 0 2rem;
			p, ul {
				font-size: 1.2rem;
				line-height: 1.4em;
				margin: 0;
			}
		}
		.views-field-field-enlace {
			a {
				color: $green;
				font-size: 1.2rem;
				display: inline-block;
				position: relative;
				padding-right: 25px;
				background: url("../img/arrows.png") no-repeat right center;
				background-size: 19px;
				transition: all ease-in-out 0.2s;
				&:hover {
					padding-right: 32px;
				}
			}
		}
	}
	.owl-controls {
		position: absolute;
		top: -7rem;
		right: 0;
		.owl-prev {
			background: url("../img/arrow-left.png") no-repeat center center !important;
			width: 24px;
			height: 40px;
			display: inline-block;
			background: none;
			text-indent: -9999px;
			border-radius: 0 !important;
		}
		.owl-next {
			background: url("../img/arrow-right.png") no-repeat center center !important;
			width: 24px;
			height: 40px;
			display: inline-block;
			background: none;
			text-indent: -9999px;
			border-radius: 0 !important;
			margin-left: 6rem !important;
		}
	}
}

.formulario-contacto {
	padding: 0 6%;
	background: $primary-color;
	background: url("../img/back-formulario.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
	.block-title {
		color: $white;
		background: none;
    font-size: 2.4rem;
    font-weight: normal;
    display: inline-block;
    margin: 0;
    width: 33%;
    padding-right: 0;
    vertical-align: middle;
	}
	form {
		display: inline-block;
		// width: 66%;
		padding: 5rem 0;
		margin-bottom: 5rem;
		max-width: 550px;
		float: right;
		position: relative;
		.form-item {
			display: inline-block;
			width: 49%;
			vertical-align: middle;
			margin: 0;
			input {
				background: rgba(255,255,255,0.2);
				border: none;
				height: auto;
				padding: 14px 10px;
				vertical-align: middle;
				display: inline-block;
				color: #FFF;
				margin-bottom: 0.4rem;
			}
		}
		.webform-component--nombre-completo {
			display: block;
			width: 100%;
		}
		.webform-component--telefono {
			width: 50%;
		}
		.webform-submit {
			position: absolute;
			bottom: 0;
			right: 0;
			background: $green;
			border-radius: 0;
	    text-transform: uppercase;
	    padding: 8px 20px;
	    font-weight: 400;
	    margin: 0;
	    vertical-align: middle;
	    font-size: 1.2rem;
	    width: 50%;
	    margin-right: 4px;
		}
		::placeholder {
			color: $white;
		}
	}

}

.block-quicktabs {
	// background: #888F91;
	color: $white;
	position: relative;
	.block-title {
		// position: absolute;
		font-weight: bold;
    color: #555557;
    font-size: 2.6rem;
    margin-left: 6vw;
    background: none;
    padding-right: 0;
    margin-top: 5rem;
    display: inline-block;
	}
	.item-list {
		position: absolute;
		top: 6rem;
		right: 6%;
    ul {
    	// width: 100%;
    	h2 {
				font-weight: bold;
				color: #FFF;
				font-size: 3rem;
    	}
	    li {
	    	margin: 0;
	    	a {
	    		display: inline-block;
	    		// color: $white !important;
	    		height: auto !important;
	    		width: auto !important;
	    		font-size: 1.4em;
	    		padding: 0 2rem;
	    		margin-bottom: 0.5em !important;
	    	}
	    }
	  	li.active {
	  		background: none !important;
	  		border: none !important;
	  		a {
	  			// text-decoration: underline;
	  			font-weight: 600;
	  			color: $green;
	  			padding-bottom: 5px;
	  		}
	  	}
    }
	}
	.quicktabs_main {
		background: $white;
		border: none;
		padding: 0;
		.views-field-field-image {
			img {
				width: 100%;
			}
		}
		.views-fieldset {
			padding: 2em;
			.views-field-field-categoria {
				text-transform: uppercase;
				color: $secondary-color;
				font-weight: bold;
				font-size: 1.2em;
				margin-bottom: 1em;
			}
			.views-field-title {
				font-size: 2.4em;
				line-height: 1.2em;
				margin-bottom: 0.5em;
				font-weight: 600;
			}
			.views-field-body {
				color: $primary-color;
				p {
					font-size: 1.4em;
					line-height: 1.6em;
				}
			}

		}
	}
}

.partners {
	padding-bottom: 6em;
	max-width: 90%;
	margin: 0 auto;
	.owl-item {
		text-align: center;
		img {
			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    	filter: grayscale(100%);
    	transition: all ease-in-out 0.2s;
		}
  	&:hover {
  		img {
	  		-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	  		filter: grayscale(0%);
  		}
  	}
	}
}

.encabezado-pagina .views-row .info-encabezado {
	top: auto !important;
	bottom: 5vw !important;
}

.encabezado-pagina {
	position: relative;
	// max-height: 450px;
	overflow: hidden;
	margin: 0 auto;
	.views-row {
		position: relative;
		.views-field-field-image {
			position: relative;
			img {
				width: 100%;
			}
			&:after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: "";
				background: rgba(0,0,0,0.5);
			}
		}
		.info-encabezado {
			position: absolute;
			top: 48%;
			left: 0;
			// right: 0;
			margin: 0 auto;
			color: $white;
			text-shadow: 0 0 10px #000;
			h1 {
				color: $white;
				text-transform: uppercase;
				font-size: 3.5vw;
				margin-bottom: 0;
				font-weight: 600;
				line-height: 1.2em;
			}
			.views-field-body {
				p {
					font-size: 1.8vw;
					line-height: 1.2em;
					margin-bottom: 0;
				}
			}
		}
	}
}

.node-type-article {
	.encabezado-pagina {
		.views-row {
			.info-encabezado {
				h1 {
					font-size: 2.5vw !important;
				}
			}
		}
	}
	.body {
		padding-right: 2rem !important;
	}
}

.info-sedes {
	background: #ECEDEE url("../img/back-footer.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding: 4em;
	color: $primary-color;
	h3 {
		background: url("../img/location.png") no-repeat left 1px;
		padding-left: 24px;
		font-size: 1.3rem;
		line-height: 1.2em;
		color: $primary-color;
		strong {
			display: block;
			color: $green;
			font-weight: 600;
			font-size: 1.2em;
		}
	}
	.columns {
		display: inline-block;
		width: 14.2%;
		padding: 0 1em;
		em {
			font-style: normal;
			a {
				color: $green;
			}
		}
	}
}

.pie-legal {
	border-top: solid 1px $green;
	padding: 2em 2em;
	color: #FFF;
	background: #000;
	a {
		font-weight: bold;
		margin: 0 15px;
		color: #FFF;
	}
}

.node-type-page, .node-type-article {
	.body {
		padding: 4em 0 0;
		// max-width: 1100px;
		margin: 0 auto;
		h2 {
			font-size: 2.2rem;
			line-height: 1.2em;
			font-weight: 600;
			color: $green;
			margin-bottom: 1rem;
		}
		p, li {
			font-size: 1.4rem;
			line-height: 1.4em;
		}
		strong {
			color: $green;
		}
		ul {
			li {
				font-size: 1.4rem;
				line-height: 1.4em;
				margin-bottom: 1rem;
				list-style: none;
				padding-left: 14px;
				position: relative;
				&:before {
					position: absolute;
					left: 0;
					top: 9px;
					content: "";
					width: 6px;
					height: 6px;
					border-radius: 5px;
					background: $green;
				}
			}
		}
	}
}

.view-iconos-servicios {
	max-width: 980px !important;
	margin: 0 auto !important;
	.views-row {
		position: relative;
		margin-bottom: 2.5em;
		min-height: 120px;
		.views-field-field-icono {
			height: 42px;
			img {

			}
		}
		h2 {
			position: relative;
			font-size: 0.9rem;
			line-height: 1.4em;
			color: #555557;
			max-width: 110px;
			margin: 0 auto;
			&::first-line {
				font-weight: 600;
				font-size: 1rem;
			}
		}
		&:before {
			position: absolute;
			top: -18px;
			left: -3px;
			width: 130px;
			height: 130px;
			border-radius: 76px;
			border: dashed 1px $green;
			content: "";
			right: 0;
			margin: 0 auto;
			transition: all ease-in-out 0.3s;
		}
		&:hover {
			.views-field-field-icono {
				img {
					filter: brightness(0) invert(1);
				}
			}
			h2 {
				color: $white;
			}
			&:before {
				background: $green;
			}
		}
	}
}

.section-soluciones {
	.view-iconos-servicios {
		.views-row {
			&:before {
				top: -29px;
			}
		}
	}
	
}


.block-views-slideshow-soluciones-block {
	// max-width: 1282px !important;
	// margin: 0 auto !important;
	
}

.view-slideshow-soluciones {
	max-width: 980px;
	margin: 0 auto 4em;
	.owl-item {
		position: relative;
		color: $white;
		padding: 0.5em;
		.views-field-field-image {
			position: relative;
			img {
				width: 100%;
				display: block;
				vertical-align: bottom;
			}
			&:after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: "";
				background: rgba(0,0,0,0.5);
			}
		}
		.info-servicio {
			position: absolute;
			top: 5em;
			left: 8em;
			.info-titulo {
				display: block;
				margin-left: -5em;
				margin-bottom: 1.5em;
				&> div {
					display: inline-block;
					vertical-align: bottom;
				}
				.views-field-field-icono {
					margin-right: 0.5em; 
				}
				.views-field-title {
					font-size: 2em;
					line-height: 1.4em;
				}
			}
			.views-field-body {
				p {
					font-size: 1.3rem;
					margin-bottom: 0.5em;
					position: relative;
					padding-left: 20px;
					&:before {
						position: absolute;
						left: 0;
						top: 7px;
						content: "";
						width: 10px;
						height: 10px;
						border-radius: 10px;
						background: $green;
					}
				}
			}
		}
	}
}

.listado-productos {
	// background: #F6F7F8;
	max-width: 1282px !important;
	margin: 0 auto !important;
	.views-row-odd {
		.views-field-field-image {
			float: right;
		}
		.info-producto { 
			float: left;
		}
	}
	.views-field-field-image {
		img {
			width: 100%;
			display: block;
		}
	}
	.info-producto {
		.views-field-title {
			text-align: left;
			padding: 1em 1em 0;
			margin-bottom: 0.8em;
			border-bottom: solid 1px $primary-color;
			line-height: 1em;
		}
		.views-field-field-ciudad {
			margin: 1em 3.5em;
		}
		.views-field-body {
			padding: 0 3.5em 3.5em;
			p, li {
				font-size: 1.4rem;
				line-height: 1.4em;
			}
		}
	}

	.row {
		padding-top: 6em;
		display: table;
		width: 100%;
		.columns {
			padding: 1em 2em 0;
			display: table-cell;
			float: none;
			vertical-align: top;
		}
		h3 {
			font-weight: 600;
			color: $green;
			font-size: 3em;
		}

		p {
			font-size: 1.4rem;
			position: relative;
			&:last-child {
				border-bottom: solid 1px $green;
				padding-bottom: 2em;
				margin-bottom: 0;
				&:before {
					position: absolute;
					bottom: -5px;
					left: 0;
					width: 200px;
					height: 10px;
					background: $green;
					content: "";
				}
			}
		}
	}

}


.imagen-lateral {
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 220px;
}

.nosotros-quienes-somos {
	background: url('/sites/default/files/nosotros1.jpg') no-repeat center top;
}
.nosotros-capacidad {
	background: url('/sites/default/files/nosotros2.jpg') no-repeat center top;
}
.nosotros-solidez {
	background: url('/sites/default/files/styles/image_700x510/public/consultoria-2.jpg') no-repeat center center;
}
.nosotros-compromiso {
	background: url('/sites/default/files/compromiso.jpg') no-repeat center top;
}

.outsourcing-ti {
	background: url('/sites/default/files/outsourcing-de-ti.jpg') no-repeat center top;
}

.servicios-infraestructura {
	background: url('/sites/default/files/servicio_de_infraestructura.jpg') no-repeat center top;
}

.servicios-profesionales {
	background: url('/sites/default/files/servicios_profesionales.jpg') no-repeat center top;
}


/* PRODUCTOS */

.medios-de-pago {
	background: url('/sites/default/files/medios-de-pago.jpg') no-repeat center top;
}

.biometria {
	background: url('/sites/default/files/biometria.jpg') no-repeat center top;
}

.digitalizacion {
	background: url('/sites/default/files/digitalizacion_0.jpg') no-repeat center top;
}

.un1q {
	background: url('/sites/default/files/un1q.jpg') no-repeat center top;
}

.dotacion-de-equipos {
	background: url('/sites/default/files/servicios_profesionales.jpg') no-repeat center top;
}

.soluciones-cross-market {
	background: url('/sites/default/files/servicios_profesionales.jpg') no-repeat center top;
}

.escritorios-virtuales {
	background: url('/sites/default/files/escritorios-virtuales_1.jpg') no-repeat center top;
}

#otros-productos {
	// background: url('/sites/default/files/otros-productos_0.jpg') no-repeat center top;
	float: left !important;
	.columns {
		padding: 0 !important;
	}
}




.lead {
	padding-top: 4rem;
	padding-bottom: 4rem;
	background: #E6E7E9;
	#lead-inner {
		max-width: 1100px;
		margin: 0 auto;
		p {
			font-size: 1.6rem;
			line-height: 1.4em;
		}
	}
}

.software-cierre {
	ul {
		li {
			font-size: 1.4rem;
			line-height: 1.4em;
			margin-bottom: 1rem;
			list-style: none;
			padding-left: 14px;
			position: relative;
			&:before {
				position: absolute;
				left: 0;
				top: 9px;
				content: "";
				width: 6px;
				height: 6px;
				border-radius: 5px;
				background: $green;
			}
		}
	}
}


.view-blog-articulo-destacado {
	margin-right: 2rem;
	margin-bottom: 3rem;
	.views-field-field-image {
		img {
			width: 100%;
		}
	}
	.views-field-title {
		    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.2em;
    margin-top: 1rem;
	}

	.views-field-field-fecha {
		color: $green;
		margin-bottom: 1rem;
	}
}

.view-notas-recientes {
	.views-row {
		margin-bottom: 2rem;
		a {
			color: $green;
			font-size: 1.2rem;
			line-height: 1.2em;
		}
	}
}

.view-blog {
	.views-row {
		padding: 0.5rem;
		.views-field-title {
			margin-top: 1rem;
			margin-bottom: 1rem;
			a {
				font-size: 1.6rem;
    		font-weight: 600;
			}
		}
		.views-field-field-fecha {
			color: $green;
		}

	}
}


@media only screen and (max-width: 1000px) {



}


@media only screen and (max-width: 1000px) {

	header {
		position: relative;
		padding: 1em;
		background: rgba(0, 0, 0, 0.5);
		.logo {
			max-width: 200px;
		}
	}

	.menu-principal {
		#superfish-1-toggle {
			span {
				background: url("../img/menu.png") no-repeat center center;
				text-indent: -9999px;
				position: fixed;
				top: 2em;
				right: 2em;
				display: inline-block;
				width: 30px;
				height: 30px;
			}
		}
	}

	.slideshow-principal {
		.owl-item {
			.info-slide {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				color: #FFF;
				width: 85%;
				font-size: 1em;
				text-shadow: 0 0 24px #000;
				.views-field-body {
					p {
						font-size: 4vw;
						font-weight: 300;
						line-height: 1.2em;
						text-align: center;
						margin-bottom: 0;
					}
				}
				.views-field-field-subtitulo {
					display: none;
				}
			}
		}
	}

	.soluciones-productos-home {
		.owl-item {
			.info-servicio {
				width: 85%;
				text-align: center;
				.views-field-title {
					font-size: 5vw;
				}
				.views-field-body {
					p, li {
						font-size: 3vw;
					}

				}
			}
		}
	}

	.formulario-contacto {
		padding: 2em 1em;
		.block-title {
			display: block;
			width: 100%;
			text-align: center;
		}
		form {
			text-align: center;
			width: 100%;
			.form-item {
				display: block;
				width: 100%;
				text-align: center;
			}
			.webform-submit {
				margin-top: 1em;
			}
		}
	}

	.cta {
		text-align: center;
		a {
			padding: 5px 20px;
			margin-bottom: 1em;
		}
	}

	.block-title {
		font-size: 5vw;
		background-size: 52px;
		padding-right: 60px;
	}

	.block-quicktabs {
		.item-list, .quicktabs_main {
			display: block;
			width: 100%;
		}

		.item-list {
			ul {
				li {
					display: inline-block;
				}
			}
		}
	}

	.encabezado-pagina {
		.views-row {
			.info-encabezado {
				// top: 0;
				padding: 1em;
				bottom: 0 !important;
				top: 0;
				padding: 1em;
				position: relative;
				background: #555;
				h1 {
					font-size: 6vw;
				}
				.views-field-body {
					p {
						font-size: 4vw;
						line-height: 1.2em;
					}
				}
			}
		}
	}


	.info-sedes {
		padding: 3em 1em;
		.columns {
			display: inline-block;
			width: 50%;
			float: left;
		}
	}

}

@media only screen and (max-width: 640px) {
	.listado-productos {
		.row {
			display: block;
			.columns {
				display: block;
				float: right;
			}
		}
	}	
}

